  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>DIM BUSNESS<span>.</span></h3>
            <p>
              Avenue Femme Katangaise BP 2846. <br>
              Lubumbashi, Haut-Katanga, <br>
              République Démocratique Congo <br><br>
              <strong>Téléphone:</strong> + 243 97 47 52 884<br>
              <strong>Email:</strong> dimbusinessfamily@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Navigations</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nos services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">DIM BUSINESS Crowdfunding</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Conditions de service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Médias sociaux</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Numérisation et transformation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cabinet d'étude des projets</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Crowdfunding participatif</a></li> 
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Inscrivez-vous à notre newsletter</h4>
            <p>Rester informer sur nous et nos projets en permanence</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Souscrire">
            </form>
          </div>

        </div>
      </div>
    </div>

  
   {% include 'layouts/copyright.html' %} 
  </footer><!-- End Footer -->
