  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'home:home' %}">DIM BUSINESS<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

      {% include 'layouts/nav.html' %}
      <!-- .nav-menu -->

      {% comment %} <a href="" class="get-started-btn scrollto">Lancer mon project</a>
      <a href="" class="get-started-btn scrollto">Se connecter</a> {% endcomment %}
    </div>
  </header>