 {% extends 'base.html' %}
 {% load static %}

 {% block title %}  
 <title>DIM BUSINESS - Liste des tous les projets réalisés</title>
 {% endblock %}

 {% block style %}
 {% comment %} <style>
 /*
  .blog .sidebar .recent-posts h6 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
  }

  small {
    margin-left: 95px;
  }

  .blog .sidebar .recent-posts h6 a {
    color: black;
    transition: 0.3s;
  }

  .blog .sidebar .recent-posts h6 a:hover {
    color: #e03a3c;
  }
  */
 </style> {% endcomment %}
 {% endblock style %}
 
 {% block content %}
  <!-- ======= Header ======= -->
  {% include 'layouts/header.html' %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2>Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">




            {% for actu in actus-list %}
            
             <article class="entry">

              <div class="entry-img">
                <img src="{{ MEDIA_URL }}{{ actu.image.url }}" alt="{{actu.title}}" title="{{actu.title}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">{{actu.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="{{actu.updated_at}}">{{actu.updated_at}}</time></a></li>
                  {% comment %} <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> {% endcomment %}
                </ul>
              </div>

              <div class="entry-content">
                <p>{{actu.description}}</p>
                {% comment %} <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div> {% endcomment %}
              </div>

            </article><!-- End blog entry -->
            
            {% endfor %}

          {% comment %} <div class="pagination">
            <span class="step-links">
                {% if actus.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ actus.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ actus.number }} of {{ actus.paginator.num_pages }}.
                </span>

                {% if actus.has_next %}
                    <a href="?page={{ actus.next_page_number }}">next</a>
                    <a href="?page={{ actus.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
          </div> {% endcomment %}


            <div class="pagination blog-pagination">
              <ul class="justify-content-center">
                <li class="disabled"><i class="icofont-rounded-left"></i></li>
                <li>

                  {% if actus.has_previous %}
                      <a href="?page=1">&laquo; Premier</a>
                      <a href="?page={{ actus.previous_page_number }}">Précédent</a>
                  {% endif %}
                  {% comment %} <a href="#">1</a> {% endcomment %}
                  
                </li>

                <li class="active">
                  <span class="current">
                      <a href="#">
                      Page {{ actus.number }} of {{ actus.paginator.num_pages }}. 
                    </a>
                  </span>
                </li>

                {% if actus.has_next %}
                    <a href="?page={{ actus.next_page_number }}">Suivant</a>
                    <a href="?page={{ actus.paginator.num_pages }}">Dernier &raquo;</a>
                {% endif %}
                {% comment %} <li><a href="#"><i class="icofont-rounded-right"></i></a></li> {% endcomment %}
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Chercher un projet...</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->
   
              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                {% for category in categories %}
                  <li><a href="#">{{category.title}}</a></li>
                  {% empty %}
                  <li><a>Tags en cours de mise à jour...</a></li>
                {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

              <h3 class="sidebar-title">Actualités récentes</h3>
              <div class="sidebar-item recent-posts">
                {% for actu in actus %}
                <div class="post-item clearfix">
                  <img src="{{ MEDIA_URL }}{{ actu.image.url }}" alt="">
                  <h6><a href="{% url 'actu:actu_detail' actu.slug %}">{{actu.title|truncatechars:40}}</a></h6>
                  {% comment %} <small>{{actu.description|truncatewords:10}}</small> {% endcomment %}
                  <time datetime="2020-01-01">{{actu.created_at}}</time>
                </div>
                {% empty %}
                <div class="post-item clearfix"> 
                  <h4><a href="#">Actualités en cours de mise à jour...</a></h4> 
                </div>
                {% endfor %} 
              </div><!-- End sidebar recent posts-->


            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= --> 
  {% include 'layouts/copyright.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
 
 {% block content %}