 {% extends 'base.html' %}
 {% load static %}

 {% block style %}
 {% comment %} <style>
 /*
  .blog .sidebar .recent-posts h6 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
  }

  small {
    margin-left: 95px;
  }

  .blog .sidebar .recent-posts h6 a {
    color: black;
    transition: 0.3s;
  }

  .blog .sidebar .recent-posts h6 a:hover {
    color: #e03a3c;
  }
  */
 </style> {% endcomment %}
 {% endblock style %}
 
 {% block content %}
  <!-- ======= Header ======= -->
  {% include 'layouts/header.html' %}
  <!-- End Header -->


  <main id="main">

    {% if actu %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home:home' %}">Acceuil</a></li>
          <li>Détails</li>
        </ol>
        <h2>{{actu.title}}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">
        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{{ MEDIA_URL }}{{ actu.image.url }}" alt="{{actu.title}}" title="{{actu.title}}" class="img-fluid" alt="">
            {% comment %} <img src="assets/img/portfolio/portfolio-details-2.jpg" class="img-fluid" alt="">
            <img src="assets/img/portfolio/portfolio-details-3.jpg" class="img-fluid" alt=""> {% endcomment %}
          </div>

          <div class="portfolio-info">
            <h3>Information sur le projet</h3>
            <ul>
              <li><strong>Categorie</strong>:{{actu.category}}</li>
              <li><strong>Client</strong>: Jhon Doe</li>
              <li><strong>Date déroulement du projet</strong>: {{actu.updated_at}}</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{{actu.title}}</h2>
          <p>{{actu.description}}</p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
    {% else %}
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">
        <div class="portfolio-details-container"> 

        <div class="portfolio-description">
          <h2>Cette actualité n'est pas disponible pour le moment !</h2>
          {% comment %} <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
          </p> {% endcomment %}
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
    {% endif %}
    

  </main><!-- End #main -->
 
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


{% endblock content %}
